NEXT_PUBLIC_SUPABASE_URL=https://lfqnfqgunhcpapoxrcur.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmcW5mcWd1bmhjcGFwb3hyY3VyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMTkyNzQsImV4cCI6MjEwNDg5NTI3NH0.09THATeW4Uq53kEubt64oL8dYalPtFyYo3thfaIpBSo
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
